.icon {
  background-image: url("/windows-xp-icons/Folder%20Closed.png");
  height: 3rem;
  width: 3rem;
  margin: 2rem;
  border-color: transparent;
  background-color: transparent;
  background-size: contain;

}

.circleIcon {
  background-image: url("/windows-xp-icons/Folder%20Opened.png");
  height: 3rem;
  width: 3rem;
  margin: 2rem;
  border-color: transparent;
  background-color: transparent;
  background-size: contain;
}

.atalho {
  text-align: center;
  width: fit-content;
}

.atalho p {
  color: wheat;
  font-size: clamp(0.6875rem, 1.5vw, 0.875rem);
  margin: -1rem;
}
