.desktop {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;

  background-color: rgba(37, 156, 165, 0.66);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:root {
  font-family: "Courier New", Courier, monospace;
  color: #122747;
  background: #008383;
  font-synthesis: none;
  text-rendering: geometricPrecision;
  --navy: #163665;
  --blue: #1d5fa7;
  --sky: #a9d9df;
  --paper: #f7f2df;
  --chrome: #d8d6ce;
  --ink: #122747;
  --green: #739f5a;
}