.icon {
  height: 3rem;
  width: 3rem;
  margin: 2rem;
  border-color: transparent;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}

.circleIcon {
  height: 3rem;
  width: 3rem;
  margin: 2rem;
  border-color: transparent;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.atalho {
  text-align: center;
  width: fit-content;
}

.atalho > p {
  color: wheat;
  font-size: clamp(0.6875rem, 1.5vw, 0.875rem);
  margin: -1rem;
}
